extends layout

block content
  // header
  header.cd-main-header
    a.cd-logo(href='#0')
      img(src=imagesPath+'/logos/contentmine-logo-small.svg', alt='Logo')
      .name-holder
        span.name-1 Content
        span.name-2 Mine
    .cd-search.is-hidden.disabled
      form(action='#0')
        input(type='search', placeholder='Search...')
    a.cd-nav-trigger(href='#0')
      .nav-trigger-text
        Menu
      span
    nav.cd-nav
      ul.cd-top-nav
        li
          a(href='http://contentmine.org/', target='_blank') Visit Website
        li.cd-last-nav-item.has-children
          a(href='#0')
            img(src=iconsPath+'cd-settings.svg', alt='settings')
            |Settings
          ul
            li
              a(href='#0') Placeholder 1
            li
              a(href='#0') Placeholder 2
            li
              a(href='#0') Placeholder 3
  // main
  main.cd-main-content
    nav.cd-side-nav
      ul
        li.cd-label Project
        li.action-btn
          a(href='#0') + Create
      ul
        li.cd-label Tools
        li.getpapers
          a(href='#0') GetPapers
        li.quickscrape
          a(href='#0') QuickScrape
        li.norma
          a(href='#0') Norma
        li.ami.has-children
          a(href='#0')
            | Ami
            span.count 5
          ul
            li
              a(href='#0') Species
            li
              a(href='#0') Gene
            li
              a(href='#0') Sequence
            li
              a(href='#0') Regex
            li
              a(href='#0') Word

    // Page content:
    .content-wrapper
      block page-content